* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.create {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  background: linear-gradient(
    180deg,
    rgba(121, 159, 156, 1) 50%,
    rgba(25, 43, 41, 1) 98%
  );
  height: 100vh;
  position: relative;
  &__bgc {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
  }
  &-content {
    z-index: 10;
    width: 30%;
    margin: auto;
    height: 80vh;
    background-color: #fff;

    &__contener {
      padding: 1rem;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      &__title {
        background-color: transparent;
        color: #000;
        font-size: 2.2rem;
        font-weight: bold;
        border: none;
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: #000;
        }
      }
      &__note {
        resize: none;
        background-color: transparent;
        color: #000;
        font-size: 1.8rem;
        line-height: 2rem;
        border: none;
        height: 100%;
        &:focus {
          outline: none;
        }
      }
    }
  }

  &-header {
    z-index: 10;
    background-color: #3e5a57;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem;
    color: #fff;

    &__title {
      font-weight: lighter;
      font-size: 2.4rem;
      transition: all 0.2s;
      &:hover {
        transform: scale(1.05);
      }
    }
    &__nav {
      &__options {
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 5rem;
        margin-right: 10rem;
        font-size: 2.2rem;
        &__element {
          cursor: pointer;
          position: relative;
          p {
            transition: all 0.2s;
            &:hover {
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }
}

.card-options__list {
  background-color: #3e5a57;
  width: 15rem;
  transform: scale(1.15);
  position: absolute;
  top: 200%;
  right: -20%;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  list-style-type: none;
  gap: 1rem;
  font-size: 1.5rem;
  &__element {
    transition: all 0.2s;
    text-transform: uppercase;
    width: 100%;
    &:hover {
      transform: scale(1.15);
    }
  }
}

.lines {
  background-image: linear-gradient(0deg, #ccc 1px, transparent 1px);
  background-size: 20px 20px;
  background-position: -1px -1px;
  border: 1px solid #ccc;
}

.squares {
  background-image: linear-gradient(#ccc 1px, transparent 1px),
    linear-gradient(90deg, #ccc 1px, transparent 1px);
  background-size: 20px 20px;
  background-position: -1px -1px;
  border: 1px solid #ccc;
}

.dots {
  background-image: radial-gradient(#ccc 10%, transparent 20%);
  background-size: 10px 10px;
}